/* STYLE cart & booking */

.page-contenair{
    background-color: rgb(234, 234, 237);
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-content{
    border-radius: .5rem;
    padding: 2rem 0;
    width: 50%;

    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}