/* STYLE home */
main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: whitesmoke;
    text-align: center;

    background-image: url("../img/background.jpg");
    background-position: center top;
    background-size: cover;
}

h1{
    font-size: 48px;
    font-weight: 400;
}

a{
    text-decoration: none;
}

/* CARD CONTENT -> général */

.container-home{
    display: flex;
    gap: 4rem;
    padding-top: 4rem;
}

.content{
    background-color: white;
    border-radius: 1rem;
    padding: 0 1.5rem;

    display: flex;
    flex-direction: column;

    height: 50vh;
    width: 25vW;
}

/* CARD SEARCH */

#btn-search{
    background-color: #459e85;
    border-radius: .5rem;

    padding: .5rem;
    text-align: center;

    cursor: pointer;
}

.search-container{
    justify-content: space-around;
}

.input-content{
    display: flex;
    flex-direction: column;
}

input{
    background-color: whitesmoke;
    border-radius: .3rem;
    border: none;

    padding: .5rem;
}

/* CARD RESULT */

#departureName{
    border-bottom: solid 1px black;
}

.result-container{
    gap: 1.5rem;
    align-items: center;
    overflow: auto;
}

.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color :black;
    background-color: whitesmoke;
    padding: 0.5rem;
}

.result-data{
    padding : 1lh;
}

.btn-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #459e85;
    color : white;
    border-radius: .5rem;
    width: 60px;
    height: 25px;
    padding: .5rem;
    text-align: center;

    cursor: pointer;
}

#notfound{
    width: 80%;
}

#train{
    width: 80%;
}


#default-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    height: 100%;
}

@media (max-width: 960px){
    main{
        height: auto;
        padding-top: 3rem;
    }
    .container-home{
        flex-direction: column;
    }
    .content{
        margin: 2rem;
    }
}
